[submodule "ip-ui"]
	path = ip-ui
	url = https://github.com/MoiseevDI/react-one-page.git
	branch = main
[submodule "ip-back"]
	path = ip-back
	url = https://github.com/MoiseevDI/fastapi-simple-app.git
	branch = main
[submodule "ip-logic"]
	path = ip-logic
	url = https://github.com/MoiseevDI/simple-sa-service.git
